name: Build

on:
  push:
    branches:
      - "*"
  pull_request:
    branches:
      - "*"
    types: [opened, synchronize, reopened]

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Build
    runs-on: windows-2022
    strategy:
      fail-fast: false
      matrix:
        configuration:
          #- Debug
          - Release
    steps:
      - name: Check out files
        uses: actions/checkout@v4.2.0
        with:
          submodules: true
          fetch-depth: 0
          # NOTE - If LFS ever starts getting used during builds, switch this to true!
          lfs: false

      - name: Add msbuild to PATH
        uses: microsoft/setup-msbuild@v2

      - name: Generate project files
        run: tools/premake5 vs2022 --no-check

      - name: Set up problem matching
        uses: ammaraskar/msvc-problem-matcher@master

      - name: Build ${{matrix.configuration}}
        run: msbuild /m /v:minimal /p:Configuration=${{matrix.configuration}} /p:Platform=x64 build/boiii.sln

      - name: Upload ${{matrix.configuration}} binary
        if: matrix.configuration == 'Release' && github.repository_owner == 'CBServers' && github.event_name == 'push' && (github.ref == 'refs/heads/main' || github.ref == 'refs/heads/develop')
        uses: actions/upload-artifact@v4.4.0
        with:
          name: ${{matrix.configuration}} Binary
          path: |
            build/bin/x64/${{matrix.configuration}}/boiii.exe
      
      - name: Upload ${{matrix.configuration}} extension artifact
        if: matrix.configuration == 'Release' && github.repository_owner == 'CBServers' && github.event_name == 'push' && (github.ref == 'refs/heads/main' || github.ref == 'refs/heads/develop')
        uses: actions/upload-artifact@v4.4.0
        with:
          name: ${{matrix.configuration}} Extension
          path: |
            extension/ext.dll

      - name: Upload ${{matrix.configuration}} data artifacts
        if: matrix.configuration == 'Release' && github.repository_owner == 'CBServers' && github.event_name == 'push' && (github.ref == 'refs/heads/main' || github.ref == 'refs/heads/develop')
        uses: actions/upload-artifact@v4.4.0
        with:
          name: ${{matrix.configuration}} data artifacts
          path: |
            data/*

  deploy:
    name: Deploy artifacts
    needs: build
    runs-on: windows-2022
    if: github.repository_owner == 'CBServers' && github.event_name == 'push' && (github.ref == 'refs/heads/main' || github.ref == 'refs/heads/develop')
    steps:
      - name: Download Release binaries
        uses: actions/download-artifact@v4.1.8
        with:
          name: Release Binary

      - name: Download extension artifact
        uses: actions/download-artifact@v4.1.8
        with:
          name: Release Extension

      - name: Download Release data artifacts
        uses: actions/download-artifact@v4.1.8
        with:
          name: Release data artifacts
          path: data

      - name: Clone updater
        run: |
          git config --global user.name 'CBServers'
          git config --global user.email '${{ secrets.OWNER_EMAIL }}'
          $env:GIT_TERMINAL_PROMPT=0
          $env:GIT_USERNAME="CBServers"
          $env:GIT_PASSWORD="${{ secrets.REPO_PAT }}"
          git clone https://$env:GIT_USERNAME:$env:GIT_PASSWORD@github.com/CBServers/updater.git

      - name: Copy artifacts to updater boiii folder
        run: |
          Copy-Item -Path .\boiii.exe -Destination .\updater\updater\boiii\ -Force
          Copy-Item -Path .\ext.dll -Destination .\updater\updater\boiii\ -Force
          Copy-Item -Path .\data\* -Destination .\updater\updater\boiii\data\ -Recurse -Force

      - name: Download hashing executable
        run: |
          Invoke-WebRequest -Uri "https://github.com/CBServers/updater/releases/download/v1.0.0/update-hasher.exe" -OutFile "update-hasher.exe"

      - name: Generate hashed.json
        run: |
          Copy-Item -Path .\update-hasher.exe -Destination .\updater\updater\boiii\
          cd updater/updater/boiii
          .\update-hasher.exe
          Move-Item -Path .\hashed.json -Destination ..\boiii.json -Force
          Remove-Item -Path .\update-hasher.exe -Force

      - name: Cleanup
        run: |
          Remove-Item -Path .\boiii.exe -Force
          Remove-Item -Path .\ext.dll -Force
          Remove-Item -Path .\data -Recurse -Force
          Remove-Item -Path .\update-hasher.exe -ErrorAction SilentlyContinue

      - name: Push changes to updater
        run: |
          cd updater
          git add .
          git commit -m "Update artifacts"
          git push origin main